#viewerDiv{
    position: absolute;
}

#viewerDiv2{
    position: absolute;
    left: 0px;
    width: 200px;
    height: 200px;
}

#viewerDiv3{
    position: absolute;
    left: 200px;
    width: 200px;
    height: 200px;
}

#viewerDiv4{
    position: absolute;
    left: 400px;
    width: 200px;
    height: 200px;
}